// Navigation Styles here

header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin: 40px;
  align-items: center;
  margin-bottom: 90px;
  border-bottom: 2px dashed @navigation-border;
  padding-bottom: 30px;
 
  nav a{
    padding: 10px;
  }

  h1{
      margin-left: 30px;
  }
  @media @mobile {
      display-wrap: wrap;
  }
}